@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=PT+Sans:ital,wght@1,700&display=swap');

#input-search{
    box-sizing: border-box;
    
    width:250px;
    

}
.navbar .search-icon
{

    
color: #fff;
position: relative;
right: -3px;
top: 2px;
border: 1px solid #d41080;
background: #d41080;
padding: 7px 10px;
cursor: pointer;
border-radius: 0px;
margin: 0;
font-family: inherit;
font-size: inherit;
line-height: inherit;
overflow: visible;
box-sizing: border-box;
}

.navbar .image{
    padding-top: 5px;
    padding-bottom: 3px;
    text-decoration: none;
    margin-top: 5px;
}
.navbar ul button{
    font-size: 14px;
    color: #d41080;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
    padding-top: 5px;
    border-radius: 25px;
    padding-bottom: 4px;
    border: 1px solid #d41080;
    margin-left: 20px;
    margin-right: 5px;
  
}
.navbar ul button:hover{
    background-color: #d41080;
    color: white;
}
.navbar .cart{
    color: #525252;
   margin-left: 10px;
}
.nav-item .nav-link{
    letter-spacing: 2px;
    color: black;
    font-size: bold;
    text-transform: uppercase;
    font-family: 'Dosis', sans-serif;
    
}
.nav-item .nav-link:hover{
    color: #d41080; 
}
.nav-item .nav-link  .dropdown-menu .dropdown-item{
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}
#banner p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;

}
#banner h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#banner h6{
    text-transform: capitalize;
    font-size: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.product-item .price{
    text-decoration: line-through;
}
#icon h6{
    color:#525252;
    
}
#icon p{
    font-family: Arial, Helvetica, sans-serif;
}
#footer-section h3{
    font-size: 400;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bold;
}
#footer-section p{
    letter-spacing: -0.5px;
    line-height: 24px;
    color: #666666;
    font-size: 17px;
    font-weight: 400;
    font-family: 'Josefin Sans', sans-serif;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#footer h5{

    font-family: 'Josefin Sans', sans-serif;
}
#footer p{
    line-height: 24px;
    font-size: 15px;
    color: #b2b2b2;
    
    font-family: 'Josefin Sans', sans-serif;
  }
.social-icon{
    font-size: 25px;
    padding-left: 5px4d45erct65667789;
}
#sub-footer p{
    font-family: 'Josefin Sans', sans-serif;

}

 
